{
  "osuApiKey": "<YOUR KEY HERE>",
  "minimumSR": 5.6,
  "maximumSR": 10.6,
  "approvalStatus": "Ranked",
  "minimumlength": 120,
  "maximumLength": 6000,
  "minimumCombo": 500,
  "maximumCombo": -1,
  "minimumBPM": 160,
  "maximumBPM": 200,
  "avoidedMappers": ["Sotarks"]
}
